{% extends 'saber11/base.html' %}

{% load misfiltros %}

{% block content %}
<div class="overflow-x-auto relative mt-16">
    <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-400 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="text-sm py-3 px-6">
                    Nombre del Colegio
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Ciencias
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Matemáticas
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Inglés
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Sociales
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Lectura
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Promedio Ponderado
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Puntaje Global
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Evaluados
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Calendario
                </th>
                <th scope="col" class="text-xs py-3 px-6">
                    Municipio
                </th>
            </tr>
        </thead>
        <tbody>
            {% for colegio in colegios %}
            {% if forloop.counter|divisibleby:"2" %}
                <tr class="bg-gray-200 border-b dark:bg-gray-800 dark:border-gray-700">
            {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            {% endif %}
                <th scope="row" class="py-4 px-6 font-medium text-gray-500 dark:text-white hover:text-gray-900">
                    <a id="{{ colegio.pk }}" onclick="myFunction(this)" href="{% url 'saber11:detalle' colegio.slug colegio.pk %}">{{ forloop.counter | sumapag:page_obj.number }}) {{ colegio.nombre }}</a>
                </th>
                <td class="py-4 px-6">
                    {{ colegio.ciencias | floatformat:1 }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.matematicas | floatformat:1 }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.ingles | floatformat:1 }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.sociales | floatformat:1 }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.lectura | floatformat:1 }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.promponderado | floatformat:1 }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.puntajeglobal | floatformat:0 }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.evaluados }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.calendario }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.ubicacion }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="ml-4 mt-4 p-2">
  <span class="text-gray-200">
      {% if page_obj.has_previous %}
          <span class="border2 bg-slate-500 px-2 rounded border-slate-500"><a href="?page=1">&laquo; Inicio</a></span>
          <span class="border2 bg-slate-500 px-2 rounded border-slate-500"><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
      {% endif %}

      <span class="text-base text-gray-700">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <span class="border2 bg-slate-500 px-2 rounded border-slate-500"><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
          <span class="border2 bg-slate-500 px-2 rounded border-slate-500"><a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a></span>
      {% endif %}
  </span>
</div>
{% endblock %}
