{% extends 'saber11/base.html' %}

{% load misfiltros %}

{% block content %}

{% if colegios %}
<div class="overflow-x-auto relative mt-16">
    <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-400 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="text-base py-3 px-6">
                    Nombre del Colegio
                </th>
                <th scope="col" class="text-base py-3 px-6">
                    Promedio Ponderado
                </th>
                <th scope="col" class="text-base py-3 px-6">
                    Puntaje Global
                </th>
                <th scope="col" class="text-base py-3 px-6">
                    Evaluados
                </th>
                <th scope="col" class="text-base py-3 px-6">
                    Municipio
                </th>
            </tr>
        </thead>
        <tbody>
            {% for colegio in colegios %}
            {% if forloop.counter|divisibleby:"2" %}
                <tr class="bg-gray-200 border-b dark:bg-gray-800 dark:border-gray-700">
            {% else %}
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            {% endif %}
                <th scope="row" class="py-4 px-6 font-medium text-gray-500 dark:text-white hover:text-gray-900">
                    <a id="{{ colegio.pk }}" onclick="myFunction(this)" href="{% url 'saber11:detalle' colegio.slug colegio.pk %}">{{ forloop.counter }}) {{ colegio.nombre }}</a>
                </th>
                <td class="py-4 px-6">
                    {{ colegio.promponderado | floatformat:1 }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.puntajeglobal }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.evaluados }}
                </td>
                <td class="py-4 px-6">
                    {{ colegio.ubicacion }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<section class="mt-40 mx-auto w-2/3">
<h1 class="text-xl text-blue-500">Buscar colegio</h1>
<form action="{% url 'saber11:search' %}" method="get">
    <!-- <div class="mb-4 border-2">{{ form.as_table }}</div> -->
    <div class="border-2" >{{ form2.as_table }}</div>
    <input class="text-white p-2 border-2 rounded-md bg-blue-300 hover:bg-blue-500" type="submit" value="Buscar">
</form>
</section>

{% endif %}
{% endblock %}
