<div class="w-fit m-2 bg-blue-300 p-2 rounded-lg">
  <span class="font-bold text-yellow-700">Respuesta:</span>
  <ul class="p-1 bg-white flex gap-2 border border-yellow-700 rounded-lg">
    <li>
        <span class="flex items-center py-1 px-3 w-full text-yellow-700 bg-white rounded-full border border-yellow-700">
            <div class="text-lg font-semibold">A</div>
        </span>
    </li>
    <li>
        <span class="flex items-center py-1 px-3 w-full text-yellow-700 bg-white rounded-full border border-yellow-700">
            <div class="text-lg font-semibold">B</div>
        </span>
    </li>
    <li>
        <span class="flex items-center py-1 px-3 w-full text-yellow-700 bg-white rounded-full border border-yellow-700">
            <div class="text-lg font-semibold">C</div>
        </span>
    </li>
    <li>
        <span class="flex items-center py-1 px-3 w-full text-yellow-700 bg-white rounded-full border border-yellow-700">
            <div class="text-lg font-semibold">D</div>
        </span>
    </li>
    <li>
        <span class="flex items-center py-1 px-3 w-full text-yellow-700 bg-white rounded-full border border-yellow-700">
            <div class="text-lg font-semibold">E</div>
        </span>
    </li>
    <li>
        <span class="flex items-center py-1 px-3 text-yellow-700 bg-white rounded-full border border-yellow-700">
            <div class="text-lg font-semibold">F</div>
        </span>
    </li>
    <li>
        <span class="flex items-center py-1 px-3 text-yellow-700 bg-white rounded-full border border-yellow-700">
            <div class="text-lg font-semibold">G</div>
        </span>
    </li>
    <li>
        <span class="flex items-center py-1 px-3 text-yellow-700 bg-white rounded-full border border-yellow-700 text-yellow-900 bg-blue-300">
            <div class="text-lg font-semibold">H</div>
        </span>
    </li>
  </ul>
</div>
