<p class="text-lg">Las técnicas de estudio que aplican los estudiantes no son siempre las más efectivas. Ejemplos de estas técnicas poco efectivas son la relectura (repaso), el resaltado y la toma de notas.</p>

<p class="text-lg">Los sic&oacute;logos han estado desarrollando y evaluando la eficacia de t&eacute;cnicas de estudio por m&aacute;s de 100 a&ntilde;os. Sin embargo, algunas t&eacute;cnicas no se usan porque no son populares y hay otras t&eacute;cnicas que son populares realmente no son efectivas.</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Releer</h2>

<p class="text-lg">Muchos estudios han mostrado que la relectura no es un m&eacute;todo efectivo. En realidad, puede ser una p&eacute;rdida de tiempo.</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Resaltar</h2>

<p class="text-lg">No es una t&eacute;cnica muy &uacute;til. Puede perjudicar el desempe&ntilde;o.</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Tomar notas</h2>

<p class="text-lg">Puede ser una técnica efectiva para los que saben hacerlo. Pero es una técnica poco efectiva para las personas que no conocen esta habilidad. Es decir, se necesita entrenamiento. Pero hay mejores técnicas.</p>

<p class="text-lg border-l-4">Espaciamiento, evaluación, intercalado y categorización (EEIC) son los principios que se pueden aplicar como técnica de estudio. La evaluación es la mejor técnica para estudiar para los exámenes para el aprendizaje. Releer no es un método efectivo. El espaciamiento es estudiar un poco, olvidar los libros, esperar un tiempo y leer de nuevo.</p><p class="text-lg">La siguiente cita es atribuida a Albert Einstein:</p>

<blockquote class="p-4 my-4 bg-gray-50 border-l-4 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
"Si no puedes explicarlo de forma simple, entonces no lo entiendes lo suficiente"
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Y un famoso físico y  educador estadounidense llamado Richard Feynman aplicaba esta idea. Richard Feynman recibió el premio Nobel de física por su investigación acerca de las partículas subatómicas.
</p><p class="text-lg">La siguiente cita es atribuida a Albert Einstein:</p>

<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
"Si no puedes explicarlo de forma simple, entonces no lo entiendes lo suficiente"
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Y un famoso físico y  educador estadounidense llamado Richard Feynman aplicaba esta idea. Richard Feynman recibió el premio Nobel de física por su investigación acerca de las partículas subatómicas.
</p>
<p class="ml-10 text-xl text-blue-700">v(t) = 5 + 4t</p>
<p class="text-sm text-right border-l-4 pl-2"></p>
<ul class="list-decimal italic"></ul>
<p class="text-lg">La siguiente cita es atribuida a Albert Einstein:</p>

<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
"Si no puedes explicarlo de forma simple, entonces no lo entiendes lo suficiente"
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Y un famoso físico y  educador estadounidense llamado Richard Feynman aplicaba esta idea. Richard Feynman recibió el premio Nobel de física por su investigación acerca de las partículas subatómicas.
</p><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
</p>
<p class="text-lg">
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
</p>
<p class="text-lg">
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. 
</p>
<p class="text-lg">
Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg mb-2">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
</p>
<p class="text-lg mb-2">
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. 
</p>
<p class="text-lg mb-2">
Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">
Hay técnicas tradicionales de estudio que se han demostrado no ser efectivas pero son ampliamente usadas por los estudiantes. Dos ejemplos son la relectura y la toma de notas. Releer un texto no incrementa significativamente el nivel de comprensión inicial. Leer acompañado de toma de notas tampoco tiene un impacto en la compresión.
</p>
<p class="text-lg">
Aquí vamos a mencionar algunas técnicas que se han investigado por profesionales y que sí tienen un impacto en el nivel de entendimiento de un tema.
</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Recordación activa</h2>
<p class="text-lg">
La primera técnica es llamada recordación o recuperación activa y es otra forma de llamar a la evaluación de un tema. Antes de comenzar a estudiar hay que plantear preguntas acerca del tema que se va estudiar y tratar de responderlas. Luego se lee el texto, se plantean preguntas y se intenta responderlas. Si el texto es muy largo, se divide en varias partes y para cada parte se plantean preguntas para luego responderlas. Otra forma de hacer evaluación es simplemente leer el texto y luego sentarse y en una hoja de papel tratar de escribir todo lo que se recuerde del tema leído.
</p>
<p class="text-lg">
La evaluación o autoevaluación permite recordar el tema a largo plazo. Algo importante de esta técnica es que el estudiante debe acoger el olvido como algo normal en el proceso de aprendizaje. El método funciona incluso si el estudiante no recuerda mucho de lo que había estudiado. No ser capaz de recordar todo es parte del proceso.
</p>
<h2 class="text-2xl text-slate-700 font-bold mt-4">Repetición espaciada</h2>
<p class="text-lg">
Se trata de dejar un espacio de tiempo entre sesiones de estudio. O dicho de otra forma, dejar de estudiar de forma deliberada por cierto tiempo. 
</p>
<img src="https://bestpreicfes.s3.amazonaws.com/repeticion-espaciada.png" alt="curva de olvido">
<p class="text-lg">
La idea principal de la repetición espaciada es evitar que la curva de olvido decaiga y permitir mayor retención de la información. 
</p><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg mb-2">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
</p>
<p class="text-lg mb-2">
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. 
</p>
<p class="text-lg mb-2">
Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Escoge un concepto o idea que quieras aprender</li>
<li>Haz como si estuvieras explicando el concepto a alguien que no sabe del tema. Esto te obliga a pensar acerca del concepto de forma clara y simple.</li>
<li>Identifica las lagunas en tu explicación. Si no puedes explicar algo de forma clara, significa que no lo entiendes 100%</li>
<li>Revisa el tema de nuevo para cubrir los espacios vacíos en tu comprensión. Usa recursos como libros de texto, videos, material en línea, flashcards para clarificar los conceptos que no se han dominado.</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg mb-2">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
</p>
<p class="text-lg mb-2">
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. 
</p>
<p class="text-lg mb-2">
Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Escoge un concepto o idea que quieras aprender.</li>
<li>Haz como si estuvieras explicando el concepto a alguien que no sabe del tema. Esto te obliga a pensar acerca del concepto de forma clara y simple.</li>
<li>Identifica las lagunas en tu explicación. Si no puedes explicar algo de forma clara, significa que no lo entiendes 100%.</li>
<li>Revisa el tema de nuevo para cubrir los espacios vacíos en tu comprensión. Usa recursos como libros de texto, videos, material en línea, flashcards para clarificar los conceptos que no se han dominado.</li>
</ul><p class="text-lg">
Hay técnicas tradicionales de estudio que se han demostrado no ser efectivas pero son ampliamente usadas por los estudiantes. Dos ejemplos son la relectura y la toma de notas. Releer un texto no incrementa significativamente el nivel de comprensión inicial. Leer acompañado de toma de notas tampoco tiene un impacto en la compresión.
</p>
<p class="text-lg">
Aquí vamos a mencionar algunas técnicas que se han investigado por profesionales y que sí tienen un impacto en el nivel de entendimiento de un tema.
</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Recordación activa</h2>
<p class="text-lg">
La primera técnica es llamada recordación o recuperación activa y es otra forma de llamar a la evaluación de un tema. Antes de comenzar a estudiar hay que plantear preguntas acerca del tema que se va estudiar y tratar de responderlas. Luego se lee el texto, se plantean preguntas y se intenta responderlas. Si el texto es muy largo, se divide en varias partes y para cada parte se plantean preguntas para luego responderlas. Otra forma de hacer evaluación es simplemente leer el texto y luego sentarse y en una hoja de papel tratar de escribir todo lo que se recuerde del tema leído.
</p>
<p class="text-lg">
La evaluación o autoevaluación permite recordar el tema a largo plazo. Algo importante de esta técnica es que el estudiante debe acoger el olvido como algo normal en el proceso de aprendizaje. El método funciona incluso si el estudiante no recuerda mucho de lo que había estudiado. No ser capaz de recordar todo es parte del proceso.
</p>
<h2 class="text-2xl text-slate-700 font-bold mt-4">Repetición espaciada</h2>
<p class="text-lg">
Se trata de dejar un espacio de tiempo entre sesiones de estudio. O dicho de otra forma, dejar de estudiar de forma deliberada por cierto tiempo. 
</p>
<img src="https://bestpreicfes.s3.amazonaws.com/repeticion-espaciada.png" alt="curva de olvido">
<p class="text-lg">
La idea principal de la repetición espaciada es evitar que la curva de olvido decaiga y permitir mayor retención de la información. 
</p>
<p class="text-lg">En general se pueden tomar los siguientes pasos para incrementar el desempeño durante el tiempo de estudio:</p>
<ul>
<li>Identificar los conceptos e ideas clave. Antes de comenzar a estudiar, trata de identificar las ideas y conceptos más importantes relacionados con el tema. Esto te ayudará a enfocar tus esfuerzos de estudio y organizar la información de manera significativa.</li>

<li>Utilizar técnicas de aprendizaje activo. El aprendizaje activo implica involucrarse con el material de manera práctica, como a través de la discusión, la resolución de problemas o la creación de ayudas visuales. Esto puede ayudarte a comprender y recordar mejor la información.</li>

<li>Practica recordar la información. Haz quizzes acerca del material. Esto puede ayudarte a recordar más. Intenta autoevaluarte o explicar la información a otra persona.</li>

<li>Utiliza una variedad de métodos de estudio. Diferentes personas aprenden de diferentes maneras, por lo que puede ser útil utilizar una variedad de métodos de estudio. Esto puede incluir leer, escuchar conferencias, mirar videos o trabajar en proyectos prácticos.</li>

Toma descansos de forma periódica. Es importante darle tiempo a tu cerebro para procesar y consolidar la información que está aprendiendo. Toma descansos regulares y asegúrate de dormir lo suficiente para permitir que tu cerebro se relaje y procese la información.<p class="text-lg">
Hay técnicas tradicionales de estudio que se han demostrado no ser efectivas pero son ampliamente usadas por los estudiantes. Dos ejemplos son la relectura y la toma de notas. Releer un texto no incrementa significativamente el nivel de comprensión inicial. Leer acompañado de toma de notas tampoco tiene un impacto en la compresión.
</p>
<p class="text-lg">
Aquí vamos a mencionar algunas técnicas que se han investigado por profesionales y que sí tienen un impacto en el nivel de entendimiento de un tema.
</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Recordación activa</h2>
<p class="text-lg">
La primera técnica es llamada recordación o recuperación activa y es otra forma de llamar a la evaluación de un tema. Antes de comenzar a estudiar hay que plantear preguntas acerca del tema que se va estudiar y tratar de responderlas. Luego se lee el texto, se plantean preguntas y se intenta responderlas. Si el texto es muy largo, se divide en varias partes y para cada parte se plantean preguntas para luego responderlas. Otra forma de hacer evaluación es simplemente leer el texto y luego sentarse y en una hoja de papel tratar de escribir todo lo que se recuerde del tema leído.
</p>
<p class="text-lg">
La evaluación o autoevaluación permite recordar el tema a largo plazo. Algo importante de esta técnica es que el estudiante debe acoger el olvido como algo normal en el proceso de aprendizaje. El método funciona incluso si el estudiante no recuerda mucho de lo que había estudiado. No ser capaz de recordar todo es parte del proceso.
</p>
<h2 class="text-2xl text-slate-700 font-bold mt-4">Repetición espaciada</h2>
<p class="text-lg">
Se trata de dejar un espacio de tiempo entre sesiones de estudio. O dicho de otra forma, dejar de estudiar de forma deliberada por cierto tiempo. 
</p>
<img src="https://bestpreicfes.s3.amazonaws.com/repeticion-espaciada.png" alt="curva de olvido">
<p class="text-lg">
La idea principal de la repetición espaciada es evitar que la curva de olvido decaiga y permitir mayor retención de la información. 
</p>
<p class="text-lg">En general se pueden tomar los siguientes pasos para incrementar el desempeño durante el tiempo de estudio:</p>
<ul class="list-disc text-lg px-2">
<li>Identificar los conceptos e ideas clave. Antes de comenzar a estudiar, trata de identificar las ideas y conceptos más importantes relacionados con el tema. Esto te ayudará a enfocar tus esfuerzos de estudio y organizar la información de manera significativa.</li>

<li>Utilizar técnicas de aprendizaje activo. El aprendizaje activo implica involucrarse con el material de manera práctica, como a través de la discusión, la resolución de problemas o la creación de ayudas visuales. Esto puede ayudarte a comprender y recordar mejor la información.</li>

<li>Practica recordar la información. Haz quizzes acerca del material. Esto puede ayudarte a recordar más. Intenta autoevaluarte o explicar la información a otra persona.</li>

<li>Utiliza una variedad de métodos de estudio. Diferentes personas aprenden de diferentes maneras, por lo que puede ser útil utilizar una variedad de métodos de estudio. Esto puede incluir leer, escuchar conferencias, mirar videos o trabajar en proyectos prácticos.</li>

Toma descansos de forma periódica. Es importante darle tiempo a tu cerebro para procesar y consolidar la información que está aprendiendo. Toma descansos regulares y asegúrate de dormir lo suficiente para permitir que tu cerebro se relaje y procese la información.