<p class="text-lg">Las técnicas de estudio que aplican los estudiantes no son siempre las más efectivas. Ejemplos de estas técnicas poco efectivas son la relectura (repaso), el resaltado y la toma de notas.</p>

<p class="text-lg">Los sic&oacute;logos han estado desarrollando y evaluando la eficacia de t&eacute;cnicas de estudio por m&aacute;s de 100 a&ntilde;os. Sin embargo, algunas t&eacute;cnicas no se usan porque no son populares y hay otras t&eacute;cnicas que son populares realmente no son efectivas.</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Releer</h2>

<p class="text-lg">Muchos estudios han mostrado que la relectura no es un m&eacute;todo efectivo. En realidad, puede ser una p&eacute;rdida de tiempo.</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Resaltar</h2>

<p class="text-lg">No es una t&eacute;cnica muy &uacute;til. Puede perjudicar el desempe&ntilde;o.</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Tomar notas</h2>

<p class="text-lg">Puede ser una técnica efectiva para los que saben hacerlo. Pero es una técnica poco efectiva para las personas que no conocen esta habilidad. Es decir, se necesita entrenamiento. Pero hay mejores técnicas.</p>

<p class="text-lg border-l-4">Espaciamiento, evaluación, intercalado y categorización (EEIC) son los principios que se pueden aplicar como técnica de estudio. La evaluación es la mejor técnica para estudiar para los exámenes para el aprendizaje. Releer no es un método efectivo. El espaciamiento es estudiar un poco, olvidar los libros, esperar un tiempo y leer de nuevo.</p><p class="text-lg">La siguiente cita es atribuida a Albert Einstein:</p>

<blockquote class="p-4 my-4 bg-gray-50 border-l-4 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
"Si no puedes explicarlo de forma simple, entonces no lo entiendes lo suficiente"
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Y un famoso físico y  educador estadounidense llamado Richard Feynman aplicaba esta idea. Richard Feynman recibió el premio Nobel de física por su investigación acerca de las partículas subatómicas.
</p><p class="text-lg">La siguiente cita es atribuida a Albert Einstein:</p>

<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
"Si no puedes explicarlo de forma simple, entonces no lo entiendes lo suficiente"
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Y un famoso físico y  educador estadounidense llamado Richard Feynman aplicaba esta idea. Richard Feynman recibió el premio Nobel de física por su investigación acerca de las partículas subatómicas.
</p>
<p class="ml-10 text-xl text-blue-700">v(t) = 5 + 4t</p>
<p class="text-sm text-right border-l-4 pl-2"></p>
<ul class="list-decimal italic"></ul>
