<p class="text-lg">Las técnicas de estudio que aplican los estudiantes no son siempre las más efectivas. Ejemplos de estas técnicas poco efectivas son la relectura (repaso), el resaltado y la toma de notas.</p>

<p class="text-lg">Los sic&oacute;logos han estado desarrollando y evaluando la eficacia de t&eacute;cnicas de estudio por m&aacute;s de 100 a&ntilde;os. Sin embargo, algunas t&eacute;cnicas no se usan porque no son populares y hay otras t&eacute;cnicas que son populares realmente no son efectivas.</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Releer</h2>

<p class="text-lg">Muchos estudios han mostrado que la relectura no es un m&eacute;todo efectivo. En realidad, puede ser una p&eacute;rdida de tiempo.</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Resaltar</h2>

<p class="text-lg">No es una t&eacute;cnica muy &uacute;til. Puede perjudicar el desempe&ntilde;o.</p>

<h2 class="text-2xl text-slate-700 font-bold mt-4">Tomar notas</h2>

<p class="text-lg">Puede ser una técnica efectiva para los que saben hacerlo. Pero es una técnica poco efectiva para las personas que no conocen esta habilidad. Es decir, se necesita entrenamiento. Pero hay mejores técnicas.</p>

<p class="text-lg border-l-4">Espaciamiento, evaluación, intercalado y categorización (EEIC) son los principios que se pueden aplicar como técnica de estudio. La evaluación es la mejor técnica para estudiar para los exámenes para el aprendizaje. Releer no es un método efectivo. El espaciamiento es estudiar un poco, olvidar los libros, esperar un tiempo y leer de nuevo.</p><p class="text-lg">La siguiente cita es atribuida a Albert Einstein:</p>

<blockquote class="p-4 my-4 bg-gray-50 border-l-4 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
"Si no puedes explicarlo de forma simple, entonces no lo entiendes lo suficiente"
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Y un famoso físico y  educador estadounidense llamado Richard Feynman aplicaba esta idea. Richard Feynman recibió el premio Nobel de física por su investigación acerca de las partículas subatómicas.
</p><p class="text-lg">La siguiente cita es atribuida a Albert Einstein:</p>

<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
"Si no puedes explicarlo de forma simple, entonces no lo entiendes lo suficiente"
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Y un famoso físico y  educador estadounidense llamado Richard Feynman aplicaba esta idea. Richard Feynman recibió el premio Nobel de física por su investigación acerca de las partículas subatómicas.
</p>
<p class="ml-10 text-xl text-blue-700">v(t) = 5 + 4t</p>
<p class="text-sm text-right border-l-4 pl-2"></p>
<ul class="list-decimal italic"></ul>
<p class="text-lg">La siguiente cita es atribuida a Albert Einstein:</p>

<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
"Si no puedes explicarlo de forma simple, entonces no lo entiendes lo suficiente"
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Y un famoso físico y  educador estadounidense llamado Richard Feynman aplicaba esta idea. Richard Feynman recibió el premio Nobel de física por su investigación acerca de las partículas subatómicas.
</p><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
</p>
<p class="text-lg">
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
</p>
<p class="text-lg">
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. 
</p>
<p class="text-lg">
Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul><p class="text-lg">La técnica de Feynman se basa en una idea sencilla de comprensión de un tema:</p>
<blockquote class="p-4 my-4 bg-gray-50 border-l-8 border-gray-300 ">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">
“Si entiendes un tema, lo puedes explicar a cualquier persona”
</p></blockquote>

<p class="text-lg mb-2">
  O dicho de otra forma, si lo puedes explicar es porque realmente lo entiendes. Richard Feynman fue un físico estadounidense que ganó el premio Nobel de física en 1965. En el mundo de la física es conocido por haber creado los diagramas que llevan su nombre (diagramas de Feynman) que explican lo que ocurre cuando partículas de alta energía chocan.
</p>
<p class="text-lg mb-2">
La secuencia principal en la técnica de Feynman es primero entender el tema y luego explicarlo a alguien, como un compañero de clase, por ejemplo. Explicarlo a alguien se puede reemplazar con otra actividad, por ejemplo, escribir en un cuaderno o tablero lo que se recuerda del tema.
Algo importante que se ha descubierto en los últimos años es que tomar apuntes de un libro no es un método efectivo de aprendizaje. Aquí la idea es concentrarse en usar la herramienta que nos permite aprender que es el cerebro. 
</p>
<p class="text-lg mb-2">
Actualmente debido al incremento de la cantidad de información y de los canales disponibles para distribuir esta información, se puede tomar ventaja del llamado aprendizaje multimodal. No sólo se lee un libro o un documento. También se puede ver un video del tema, escuchar un audiolibro o un podcast, todo esto combinado con ir a clase y atender al profesor.
Luego la técnica de Feynman se puede resumir en los siguientes puntos:
</p>
<ul class="list-disc text-lg px-2">
<li>Estudiar</li>
<li>Hacer una presentación o escribir todo lo que se recuerde</li>
<li>Hacer retroalimentación: comparar con el tema original para ver si hay lagunas</li>
<li>Estudiar de nuevo y repetir los pasos</li>
</ul>