{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="description" content="Preicfes app">
  <meta name="keywords" content="Icfes, preicfes"> 
  <meta name="author" content="Leonardo Martinez">
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
</head>
<body class="mb-40">
  <header class="bg-slate-500">
    <h1 class="text-gray-200 text-4xl text-center"><a href="/">Preicfes 2023</a></h1>
  </header>
{% block content %}
{% endblock %}
</body>
</html>
