{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-384TLZPJB5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-384TLZPJB5');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Preicfes app, icfes, saber 11">
  <meta name="keywords" content="Icfes, preicfes, saber 11"> 
  <meta name="author" content="Leonardo Martinez">
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
</head>
<body class="">
{% block content %}
{% endblock %}
</body>
</html>
