{% extends 'preicfesapp/base.html' %}

{% block content %}
<section class="w-4/5 mx-auto pt-24">
  <h1 class="text-gray-800 text-2xl">Cuestionarios disponibles:</h1>

  <div class="grid grid-cols-4 gap-4">
    <div class="">
      <h2>Ciencias Naturales</h2>
      <div>
        {% for quiz in ciencias %}
          <a href="{% url 'preicfesapp:prueba' quiz.pk %}" class="rounded-full bg-blue-500 text-gray-300 block px-4 py-2 mb-2 text-center text-sm hover:bg-blue-400 hover:text-white">{{ quiz.titulo }}</a>
          <!-- <a href="{{ quiz.get_absolute_url }}" class="text-gray-700 block px-4 py-2 text-sm hover:bg-blue-300 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-0">{{ quiz.titulo }}</a>-->
        {% endfor %}
      </div>
    </div>

    <div class="">
      <h2>Matemáticas</h2>
      <div>
        {% for quiz in matematicas %}
          <a href="{% url 'preicfesapp:prueba' quiz.pk %}" class="rounded-full bg-blue-500 text-gray-300 block px-4 py-2 text-center text-sm hover:bg-blue-400 hover:text-white">{{ quiz.titulo }}</a>
          <!-- <a href="{{ quiz.get_absolute_url }}" class="text-gray-700 block px-4 py-2 text-sm hover:bg-blue-300 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-0">{{ quiz.titulo }}</a>-->
        {% endfor %}
      </div>
    </div>

    <div class="">
      <h2>Inglés</h2>
      <div>
        {% for quiz in ingles %}
          <a href="{% url 'preicfesapp:prueba' quiz.pk %}" class="rounded-full bg-blue-500 text-gray-300 block px-4 py-2 text-center text-sm hover:bg-blue-400 hover:text-white">{{ quiz.titulo }}</a>
          <!-- <a href="{{ quiz.get_absolute_url }}" class="text-gray-700 block px-4 py-2 text-sm hover:bg-blue-300 hover:text-white" role="menuitem" tabindex="-1" id="menu-item-0">{{ quiz.titulo }}</a>-->
        {% endfor %}
      </div>
    </div>
  </div>

</section>
<!-- {% include "preicfesapp/footer.html" %}-->
{% endblock %}
